<div class="clear-transform">
  {{reloadState}}
  <website-leftmenuthin
    [items]="items"
    [(active)]="active"
    (select)="onSelect($event)"
    [(reloadState)]="reloadState"
  ></website-leftmenuthin>
  <div *ngIf="reloadState" style="margin-left: 100px">
    <ng-container *ngIf="active === items[0]">
      <web-home (routerChange)="childChange()"></web-home>
    </ng-container>
    <ng-container *ngIf="active === items[1]">
      <web-cart *ngIf="!childRouter" (routerChange)="childChange()"></web-cart>
      <web-router-e *ngIf="childRouter"></web-router-e>
    </ng-container>
    <ng-container *ngIf="active === items[2]">
      <web-star *ngIf="!childRouter" (routerChange)="childChange()"></web-star>
      <web-router-f *ngIf="childRouter"></web-router-f>
    </ng-container>
    <ng-container *ngIf="active === items[3]">
      <web-setting (routerChange)="childChange()"></web-setting>
    </ng-container>
  </div>
</div>
