<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of displayedData;">
        <tr>
          <td>
            <input type="text" tiText [(ngModel)]="row.sourceName"/>
          </td>
          <td>
            <ti-select [options]="levelOptions" [(ngModel)]="row.level" valueKey="label"></ti-select>
          </td>
          <td>
            <input type="text" tiText [(ngModel)]="row.unsubscribe"/>
          </td>
          <td>
            <ti-date [(ngModel)]="row.createTime"></ti-date>
          </td>
          <td>
            <ti-actionmenu [items]="items" (select)="onDetele($event, row)"></ti-actionmenu>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ti-table>

<div class="current-value-container">
  <pre>Current Table Data: {{ srcData.data | json }}</pre>
</div>
