<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedData">
        <td>{{row.firstName}}</td>
        <td style="border-left: 1px solid #DFE1E6;" [attr.rowspan]="row.rowSpan" *ngIf="!row.rowHide">{{row.lastName}}</td>
        <td style="border-left: 1px solid #DFE1E6;" [attr.colspan]="row.colSpan">{{row.age}}</td>
        <td style="border-left: 1px solid #DFE1E6;" *ngIf="!row.colHide">{{row.email}}</td>
      </tr>
    </tbody>
  </table>
</ti-table>
