<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <table>
    <thead>
      <tr>
        <ng-container *ngFor="let column of columns;index as i;">
          <th *ngIf="i < 4">
            <ti-cell-text>{{column.title}}</ti-cell-text>
            <ti-head-filter [ngClass]="{'ti3-head-filtered': column.selected && (column.multiple ?  column.selected.length > 0 : column.selected[column.labelKey] !== 'all')}"
                            [options]="column.options"
                            [(ngModel)]="column.selected"
                            [searchable]="column.searchable"
                            [multiple]="column.multiple"
                            [selectAll]="column.selectAll"
                            [panelWidth]="column.panelWidth"
                            [panelAlign]='column.panelAlign'
                            [labelKey]="column.labelKey"
                            [virtual]="column.virtual"
                            (select)="onSelect($event)">
           </ti-head-filter>
          </th>
          <th *ngIf="i === 4" width="125px">
            <ti-cell-text>{{column.title}}</ti-cell-text>
            <ti-head-filter [ngClass]="{'ti3-head-filtered': column.selected && (column.multiple ?  column.selected.length > 0 : column.selected[column.labelKey] !== 'all')}"
                            [options]="column.options"
                            [(ngModel)]="column.selected"
                            [panelAlign]='column.panelAlign'
                            (select)="onSelect($event)">
                            <ng-template #item let-item let-j=index>
                              <span>邮箱后缀：{{item.label}}</span>
                            </ng-template>
            </ti-head-filter>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody *ngIf="displayedData.length > 0">
      <tr *ngFor="let row of displayedData">
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.age}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.email}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="displayedData.length === 0">
      <tr class="ti3-table-nodata">
        <td tiColspan>{{noDadaInfo}}</td>
      </tr>
    </tbody>
  </table>
</ti-table>
