<div class="containerStyle">
  <h3>描述</h3>
  <p>表格无数据 + 列固定</p>
  <h3>示例</h3>
  <ti-table
    [(displayedData)]="displayed"
    [srcData]="srcData"
    [columns]="columns"
  >
    <div class="ti3-table-container">
      <table>
        <thead>
          <tr>
            <th
              tiOverflow
              [tiColumnFixed]="column.fixed"
              *ngFor="let column of columns"
              width="{{column.width}}"
            >
              {{column.title}}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="displayed.length > 0">
          <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
          <tr *ngFor="let row of displayed">
            <td tiColumnFixed="left" tiOverflow>{{row.firstName}}</td>
            <td tiColumnFixed="left" tiOverflow>{{row.lastName}}</td>
            <td tiColumnFixed="left" tiOverflow>{{row.age}}</td>
            <td tiOverflow>{{row.balance}}</td>
            <td tiOverflow>{{row.address}}</td>
            <td tiOverflow>{{row.phone}}</td>
            <td tiOverflow>{{row.parents}}</td>
            <td tiOverflow>{{row.email}}</td>
            <td tiColumnFixed="right" tiOverflow>{{row.school}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="displayed.length === 0">
          <tr class="ti3-table-nodata">
            <td tiColspan>{{noDadaInfo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ti-table>
</div>
