<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedData">
        <td>{{row.name}}</td>
        <td>{{row.createTime | date: 'yyyy-MM-dd'}}</td>
        <td>{{row.operator}}</td>
        <td>{{row.state}}</td>
        <td>
            <ti-actionmenu [data]="row" [dataToItemsFn]="dataToItemsFn" maxShowNum="3" (select)="onSelect($event, row)"></ti-actionmenu>
        </td>
      </tr>
    </tbody>
  </table>
</ti-table>

