<ti-accordion id="myAccId">
  <ti-accordion-item id="myAccItemId1">
    <ti-accordion-head>Static Header, initially expanded</ti-accordion-head>

    <p>This content is straight in the template.</p>
    <textarea
      tiTextarea
      style="width: 200px; height: 100px"
      [placeholder]="placeholder"
      [(ngModel)]="value"
    ></textarea>
  </ti-accordion-item>

  <ti-accordion-item id="myAccItemId2">
    <ti-accordion-head>Dynamic Body Content</ti-accordion-head>

    <p>The body of the accordion group grows to fit the contents</p>
    <button type="button" (click)="add()">add</button>
    <p *ngFor="let row of rows">{{row}}</p>
  </ti-accordion-item>
</ti-accordion>

<ti-alert [type]="typePrompt">{{value}}</ti-alert>
<button type="button" color="primary" tiButton id="mybutton2">Button</button>
<ti-button-group
  minWidth="200px"
  [items]="items"
  id="buttongroup"
  [(ngModel)]="selected"
>
</ti-button-group>
<p>ngModelChange:{{item | json}}</p>
<div *ngFor="let item of checkList" style="margin-right: 20px">
  <input
    *ngIf="true"
    type="checkbox"
    tiCheckbox
    [name]="item.title"
    [(ngModel)]="item.checked"
    [label]="item.title"
  />
  <span>{{item.checked}}</span>
</div>
<button>控制组件销毁</button>
<br />
<div [tiCollapse]="collapsed">
  <div class="collapse-panel">
    <p>Some contentdfasdfasdfassdf f</p>
    <button type="button" (click)="add()">add</button>
    <button type="button">remove</button>
    <div *ngFor="let row of rows" style="height: 40px; border: 1px solid red">
      {{row}}
    </div>
  </div>
</div>

<ti-date
  [(ngModel)]="valueData"
  [format]="format"
  [min]="min"
  [max]="max"
></ti-date>
<ti-ip
  autofocus
  name="ipv4"
  #ipv4
  [(ngModel)]="ipv4Value"
  id="myip"
  [version]="4"
></ti-ip>
<ti-menu [panelMaxWidth]="panelMaxWidth" [items]="options"> 导出 </ti-menu>
<button (click)="showMsg()" tiButton>show message</button>
<ti-pagination
  id="pagination"
  [(currentPage)]="currentPage"
  [pageSize]="pageSize"
  [(totalNumber)]="totalNumber"
></ti-pagination>

<ti-select
  style="width: 120px"
  [options]="myOptions"
  [(ngModel)]="mySelected1"
  placeholder="请选择国家"
  id="myselect"
>
</ti-select>

<ti-spinner
  name="spinner"
  [placeholder]="spinnerplaceholder"
  [max]="spinnermax"
  [min]="spinnermin"
  [(ngModel)]="spinnerValue"
  style="width: 200px"
></ti-spinner>
<ti-steps [steps]="steps" [(activeStep)]="activeStep"></ti-steps>
<ti-switch id="myswitch" [(ngModel)]="switchState"></ti-switch>
<ti-tabs>
  <ti-tab [header]="tab1.title" [(active)]="tab1.active">
    <div>第1个tab对应的内容区</div>
  </ti-tab>
  <ti-tab [(active)]="tab2.active">
    <ti-tab-header>
      <span>大法师</span>
      <span [ngClass]="{'sum-color': tab2.active}">(26)</span>
    </ti-tab-header>
    <div>第2个tab对应的内容区</div>
  </ti-tab>
  <ti-tab [header]="tab3.title" [disabled]="tab3.disabled">
    <div>第3个tab对应的内容区</div>
  </ti-tab>
  <ti-tab [header]="tab4.title">
    <div>第4个tab对应的内容区</div>
  </ti-tab>
</ti-tabs>
