<!-- 本示例只是为了体现布局，给 leftmenu 并未配置路由， 所以 leftmenu功能是不起作用的 -->
<!-- 左侧leftmenu -->
<ti-leftmenu
  [(active)]="active"
  [(collapsed)]="config.collapsed"
  [(reloadState)]="config.reloadState"
  [toggleable]="config.toggleable"
  (collapsedChange)="config.collapsedChangeFn($event)"
  [routable]="false"
>
  <ti-leftmenu-head>
    <div>{{config.serviceName}}</div>
  </ti-leftmenu-head>
  <ti-leftmenu-level1 [item]="m1" *ngFor="let m1 of items" [disabled]="m1.disabled">
    <ti-leftmenu-item>
      <div>{{m1.label}}</div>
    </ti-leftmenu-item>
    <ti-leftmenu-level2 [item]="m2" *ngFor="let m2 of m1.children" [disabled]="m2.disabled">
      <span>{{m2.label}}</span>
    </ti-leftmenu-level2>
  </ti-leftmenu-level1>
</ti-leftmenu>

<!-- 内容容器 -->
<ti-layout-content leftmenu [ngStyle]="{marginLeft: marginLeft}">
  <!-- 内容头部 -->
  <ti-layout-content-header> descandbuy </ti-layout-content-header>
  <!-- 业务增加内容 -->
  <ti-alert style="margin-bottom: 12px; width: 100%">我是业务侧自定义内容</ti-alert>
  <!-- 内容主体部分 -->
  <ti-layout-content-body>
    <ti-layout-section>
      <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
        <table>
          <thead>
            <tr>
              <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.label}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of displayed;trackBy: trackByFn">
              <td tiOverflow>{{row.firstName}}</td>
              <td tiOverflow>{{row.lastName}}</td>
              <td tiOverflow>{{row.age}}</td>
              <td tiOverflow>{{row.state}}</td>
              <td style="white-space: normal">
                <ti-actionmenu [data]="row" [dataToItemsFn]="dataToItemsFn" maxShowNum="3" (select)="onSelect($event)"> </ti-actionmenu>
              </td>
            </tr>
          </tbody>
        </table>
        <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber"></ti-pagination>
      </ti-table>
    </ti-layout-section>
  </ti-layout-content-body>
</ti-layout-content>
