<!-- 头部容器 -->
<!-- adaptive 属性用以设置头部容器宽度 100% 自适应 -->
<ti-layout-header style="background-color: #fff" adaptive>
  <ti-subtitle href="" target="_blank" [items]="items1"></ti-subtitle>
</ti-layout-header>
<div style="background-color: #fff; padding: 0 20px">
  <ti-tabs>
    <ti-tab [header]="tab.title" *ngFor="let tab of tabs;let i=index" [active]="i==0"> </ti-tab>
  </ti-tabs>
</div>
<!-- 内容容器 -->
<ti-layout-content adaptive>
  <!-- 内容主体部分 -->
  <!-- columns 属性用以设置内容主体为 多列模式 -->
  <ti-layout-content-body columns>
    <!-- 存在左右两块内容时，需要给两个内容快设置宽度，不设置平分处理 -->
    <!-- 左侧内容 -->
    <!-- 多列模式下需添加列容器 <ti-layout-column> -->
    <ti-layout-column id="column_left">
      <ti-layout-section>
        <ti-formfield [verticalAlign]="textForm1.fieldVerticalAlign" [colsNumber]="textForm1.colsNumber" [colsGap]="textForm1.colsGap">
          <ti-item [label]="textForm1.firstItem.label">
            <span style="width: 130px; display: inline-block">{{textForm1.firstItem.value}}</span>
          </ti-item>
          <ti-item>
            <ti-item-label>
              <div tiOverflow style="width: 50px">{{textForm1.secondItem.label}}</div>
            </ti-item-label>
            <span>{{textForm1.secondItem.value}}</span>
          </ti-item>
          <ti-item>
            <ti-item-label>{{textForm1.thirdItem.label}}</ti-item-label>
            <span>{{textForm1.thirdItem.value}}</span>
          </ti-item>
          <ti-item [label]="textForm1.fourthItem.label">
            <span>{{textForm1.fourthItem.value}}</span>
          </ti-item>
          <ti-item>
            <ti-item-label>{{textForm1.fifthItem.label}}</ti-item-label>
            <span>{{textForm1.fifthItem.value}}</span>
          </ti-item>
          <ti-item>
            <ti-item-label>{{textForm1.sixthItem.label}}</ti-item-label>
            <span>{{textForm1.sixthItem.value}}</span>
          </ti-item>
        </ti-formfield>
      </ti-layout-section>
      <ti-layout-section>
        <div style="background-color: #eee; height: 200px; text-align: center; line-height: 200px">Detail Content</div>
      </ti-layout-section>
      <ti-layout-section>
        <div style="background-color: #eee; height: 200px; text-align: center; line-height: 200px">Detail Content</div>
      </ti-layout-section>
    </ti-layout-column>
    <!-- 右侧内容 -->
    <ti-layout-column id="column_right">
      <ti-layout-section>
        <div style="width: 100%">
          <a href="">linklist</a>
        </div>
      </ti-layout-section>
      <ti-layout-section>
        <div style="background-color: #eee; height: 326px; text-align: center; line-height: 326px">Detail Content</div>
      </ti-layout-section>
    </ti-layout-column>
  </ti-layout-content-body>
</ti-layout-content>
