<ng-container *ngFor="let ipsValue of ipsValues; index as i; trackBy: trackByFn"><!--
 --><input #ipInput type="text"
           autocomplete="off"
           [ngClass]="version === 4 ? 'ti_input_ip_octet' : 'ti_input_ip_octet_v6'"
           class="ti_input_ip_anchor"
           [ngModel]="ipsValue"
           [id]="appendId(i)"
           (ngModelChange)="change(i)"
           (keydown)="keydown($event, i)"
           (input)="input($event, i)"
           [disabled]="disabled"
           noborder tiText
           maxlength="{{version === 4 ? 3 : 4}}"/><!--
 --><span class="ti_input_ip_division"
          *ngIf="i != (ipsValues.length - 1)">{{version === 4 ? '.' : ':'}}</span><!--
--></ng-container>
