<div class="containerStyle">
  <h3>描述</h3>
  <p>综合示例，表格复选 + 列动态显示/隐藏 + 列固定 + 表头锁定特性 + 列拖动特性 + 分页特性</p>
  <p class="demo-text-warn">注意：使用 pagination 组件，请导入 TiPaginationModule</p>
  <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable>
    <!-- 列动态显示 -->
    <div style="height: 28px; margin-bottom: 10px">
      <!--控制列隐藏/显示-->
      <ti-cols-toggle
        style="float: right"
        [searchable]="searchable"
        [panelWidth]="panelWidth"
        [selectAll]="selectAll"
        [tipContent]="tipContent"
        [tipPosition]="tipPosition"
        [disabled]="disabled"
        [noDataText]="noDataText"
      >
      </ti-cols-toggle>
    </div>
    <!--.ti3-table-fixed-head是表头的容器，它的子元素中的table(thead)是实际显示的表头-->
    <!--注意:此处一定要使用.ti3-table-fixed-head样式类-->
    <div class="ti3-table-fixed-head">
      <table>
        <thead>
          <tr>
            <th checkbox-column [tiColumnFixed]="columns[0].fixed">
              <!--全选按钮-->
              <!--如果有分页，全选需要控制当前页时，items接口传入displayed
                            如果全选要控制表格所有数据，items接口传入srcData.data-->
              <input
                type="checkbox"
                tiCheckgroup
                [items]="displayed"
                [(checkeds)]="checkedList"
                (checkedsChange)="onCheckedsChange($event)"
              />
            </th>
            <ng-container *ngFor="let column of columns.slice(1, columns.length);">
              <th *ngIf="column.show || column.show === undefined" [tiColumnFixed]="column.fixed" tiOverflow width="{{column.width}}">
                {{column.title}}
              </th>
            </ng-container>
          </tr>
        </thead>
      </table>
    </div>
    <!--.ti3-table-container是表体的容器，它的子元素中的table的thead是用来控制各列宽度，实际不显示；tbody是实际显示的表体-->
    <!--注意1:此处一定要使用.ti3-table-container样式类-->
    <!--注意2:用户在有.ti3-table-container样式类的容器上来设置表体的高度或最大高度-->
    <div class="ti3-table-container ti3-resize-wrapper" style="max-height: 300px">
      <table>
        <!-- 这里的表头不显示 -->
        <thead>
          <tr>
            <th checkbox-column></th>
            <ng-container *ngFor="let column of columns.slice(1, columns.length);">
              <th *ngIf="column.show || column.show === undefined" width="{{column.width}}"></th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of displayed; index as i">
            <td checkbox-column tiColumnFixed="left">
              <input type="checkbox" tiCheckitem [disabled]="row.disabled" [item]="row" />
            </td>
            <td *ngIf="columns[1].show || columns[1].show === undefined" tiColumnFixed="left" tiOverflow>{{row.firstName}}</td>
            <td *ngIf="columns[2].show || columns[2].show === undefined" tiColumnFixed="left" tiOverflow>{{row.lastName}}</td>
            <td *ngIf="columns[3].show || columns[3].show === undefined" tiColumnFixed="left" tiOverflow>{{row.age}}</td>
            <td *ngIf="columns[4].show || columns[4].show === undefined" tiOverflow>{{row.balance}}</td>
            <td *ngIf="columns[5].show || columns[5].show === undefined" tiOverflow>{{row.email}}</td>
            <td *ngIf="columns[6].show || columns[6].show === undefined" tiOverflow>{{row.address}}</td>
            <td *ngIf="columns[7].show || columns[7].show === undefined" tiOverflow>{{row.phone}}</td>
            <td *ngIf="columns[8].show || columns[8].show === undefined" tiOverflow>{{row.parents}}</td>
            <td *ngIf="columns[9].show || columns[9].show === undefined" tiColumnFixed="right" tiOverflow>{{row.school}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber"> </ti-pagination>
  </ti-table>
</div>
