<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <div class="ti3-table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns" [tiColumnFixed]="column.fixed" width="{{column.width}}">{{column.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of displayedData">
          <td tiColumnFixed="left">{{row.id}}</td>
          <td tiColumnFixed="left">{{row.firstName}}</td>
          <td tiColumnFixed="left">{{row.lastName}}</td>
          <td>{{row.age}}</td>
          <td>{{row.email}}</td>
          <td>{{row.address}}</td>
          <td class="text-blue-600" tiColumnFixed="right">action</td>
        </tr>
      </tbody>
    </table>
  </div>
</ti-table>
