<div class="containerStyle">
  <h3>描述</h3>
  <p>表格的列固定 + 分页, 主要测试操作分页表格数据变动时, 表格列固定是否正常</p>
  <h3>示例</h3>

  <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
    <div class="ti3-table-container">
      <table>
        <thead>
          <tr>
            <th tiOverflow [tiColumnFixed]="column.fixed" *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of displayed">
            <td tiColumnFixed="left" tiOverflow>{{row.firstName}}</td>
            <td tiColumnFixed="left" tiOverflow>{{row.lastName}}</td>
            <td tiOverflow>{{row.age}}</td>
            <td tiOverflow>{{row.balance}}</td>
            <td tiOverflow>{{row.email}}</td>
            <td tiOverflow>{{row.address}}</td>
            <td tiOverflow>{{row.phone}}</td>
            <td tiOverflow>{{row.parents}}</td>
            <td tiColumnFixed="right" tiOverflow>{{row.school}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--tiPagination实现分页功能-->
    <!-- 在表格中使用分页组件时必须保证其父元素是ti-table -->
    <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber"> </ti-pagination>
  </ti-table>
</div>
