<h3>描述</h3>
<p>本测试用例主要测试表头固定是否影响页面触发滚动条。</p>
<p>
  在有表格表头固定的页面，且页面有滚动条，将页面滚动条
  拖至formfiled的头部不在视野范围内时，给formfield中添加数据后页面滚动条会异常跳动到顶部，正常滚动条应该不跳动。该问题在10.1.8版本修复
</p>
<h3>示例</h3>
<div style="margin-left: 400px">
  <ti-formfield>
    <ti-item [label]="'测试'" *ngFor="let item of items">
      <div>{{item}}</div>
    </ti-item>
  </ti-formfield>
  <button style="margin-bottom: 20px" type="button" (click)="addItems()">给formfield中添加数据</button>
</div>
<hr />
<ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
  <div class="ti3-table-fixed-head">
    <table>
      <thead>
        <tr>
          <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="ti3-table-container" style="height: 420px">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns" width="{{column.width}}"></th>
        </tr>
      </thead>
      <tbody *ngIf="displayed.length > 0">
        <tr *ngFor="let row of displayed">
          <td tiOverflow>{{row.firstName}}</td>
          <td tiOverflow>{{row.lastName}}</td>
          <td tiOverflow>{{row.age}}</td>
          <td tiOverflow>{{row.balance}}</td>
          <td tiOverflow>{{row.email}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="displayed.length === 0">
        <tr class="ti3-table-nodata">
          <td tiColspan>{{noDadaInfo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ti-table>
