<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <div class="ti3-table-fixed-head">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="ti3-table-container" style="max-height: 150px">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns" width="{{column.width}}"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of displayedData">
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.age}}</td>
          <td>{{row.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ti-table>
