.select-dropdown-list-tag {
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
  background-color: #fff3e8;
  color: #fa9841;
  display: inline-block;
  border-radius: 2px;
  margin-left: 10px;
  padding: 0 4px;
}
.select-dropdown-list-mark {
  background-color: #e9edfa;
  color: #575d6c;
}
.select-selfTip {
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.select-tag-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.tag-in-dominator.select-dropdown-list-tag {
  float: right;
  transform: translateY(5px);
}
.tag-in-multDominator.select-dropdown-list-tag {
  float: right;
  transform: translateY(3px);
}

.footer {
  padding: 10px;
  position: relative;
  font-size: 12px;
}

.footer ti-icon[local] {
  margin-right: 4px;
  font-size: 16px;
  vertical-align: bottom;
}

.footer:after {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 10px;
  content: '';
  width: calc(100% - 20px);
  height: 1px;
  background-color: var(--ti-common-color-line-dividing);
}

.select-dropdown-list-mult {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 26px);
}

.select-dropdown-list {
  display: flex;
  align-items: center;
}
