<h3>1.描述</h3>
<p>单选树, 数据加载和数据改变</p>
<h3>2.示例</h3>
<table style="width: 100%">
  <tr>
    <th style="width: 60%"></th>
    <th style="width: 40%"></th>
  </tr>
  <tr>
    <td>
      <div style="width: 300px">
        <ti-tree id="tree-load" [data]="myData" (change)="onChange($event)"> </ti-tree>
      </div>
    </td>
    <td>
      <ul>
        <li *ngFor="let item of selectedData; index as i">
          <h3>{{i+1}}.选中项:</h3>
          {{item.label}}:
          <br />
          <h3>{{i+1}}.父节点:</h3>
          <span *ngFor="let child of selectedData[0].parent"
            >{{child.label}}/</span
          >
          <br /><br /><br />
        </li>
      </ul>
    </td>
  </tr>
</table>
<p>每个组件改变数据，都用下面六个按钮。不变化</p>
<button (click)="changeUndefined()">changeUndefined暂不支持，会报错</button
><br />
<button (click)="changeNull()">changeNull暂不支持，会报错</button><br />
<button (click)="changeWrongType()">changeWrongType暂不支持，会报错</button
><br />
<button (click)="changeNullData()">changeNullData</button><br />
<button (click)="changeDataA()">changeDataA</button><br />
<button (click)="changeDataB()">changeDataB</button><br />
