<h3>描述</h3>
<p>Checkgroup复选框组组件，禁用项目</p>
<h3>示例</h3>
<p>1 全选(下级无disabled)</p>
<input type="checkbox" id="allCheck1" tiCheckgroup [items]="dataArray1" [(checkeds)]="checkedArray1" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray1">
  <input type="checkbox" tiCheckitem [item]="item" [label]="item.text" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray1"> {{item | json}} </span>
</div>
<br />
<p>2 全选(下级全disabled)</p>
<input type="checkbox" id="allCheck2" tiCheckgroup [items]="dataArray2" [(checkeds)]="checkedArray2" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray2">
  <input type="checkbox" tiCheckitem [item]="item" [label]="item.text" [disabled]="item.disabled" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray2"> {{item | json}} </span>
</div>
<br />
<p>3 全选(下级部分disabled，且选中)</p>
<input type="checkbox" id="allCheck3" tiCheckgroup [items]="dataArray3" [(checkeds)]="checkedArray3" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray3">
  <input type="checkbox" tiCheckitem [item]="item" [label]="item.text" [disabled]="item.disabled" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray3"> {{item | json}} </span>
</div>
<br />
<p>4 全选(下级部分disabled，且非选中)</p>
<input type="checkbox" id="allCheck4" tiCheckgroup [items]="dataArray4" [(checkeds)]="checkedArray4" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray4">
  <input type="checkbox" tiCheckitem [item]="item" [label]="item.text" [disabled]="item.disabled" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray4"> {{item | json}} </span>
</div>
<br />
<p>5 全选disabled</p>
<input type="checkbox" id="allCheck5" tiCheckgroup [items]="dataArray5" [(checkeds)]="checkedArray5" [disabled]="true" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray5">
  <input type="checkbox" tiCheckitem [item]="item" [label]="item.text" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray5"> {{item | json}} </span>
</div>
<br />
<p>6 改变disabled</p>
<input type="checkbox" id="allCheck6" tiCheckgroup [items]="dataArray6" [(checkeds)]="checkedArray6" label="全选" />
<div style="margin-top: 12px"></div>
<span *ngFor="let item of dataArray6">
  <input type="checkbox" tiCheckitem [item]="item" [disabled]="item.disabled" [label]="item.text" />
  <span style="padding-left: 20px"></span>
</span>
<br />
<br />
<div>
  checked =
  <span *ngFor="let item of checkedArray6"> {{item | json}} </span>
  <br />
  <button type="button" (click)="changeDisabled()">点击改变disabled，选中项正常否？</button>
</div>
