/*基础变量定义*/
:root {
  /* 一.颜色*/
  /* 1.基础色:此处的颜色变量为所有组件应用到的颜色，此处颜色仅在公共色中使用，具体组件不可使用*/
  /* 1.1品牌色*/
  /* 品牌主色*/
  --ti-base-color-brand-6: #a97af8; /* 主色紫*/
  /* 主色衍生色*/
  --ti-base-color-brand-8: #3f1a9c; /* 品牌色-8*/
  --ti-base-color-brand-7: #8a5ce0; /* 品牌色-7*/
  --ti-base-color-brand-5: #bc94ff; /* 品牌色-5*/
  --ti-base-color-brand-4: #caabff; /* 品牌色-4*/
  --ti-base-color-brand-3: #d8c2ff; /* 品牌色-3*/
  --ti-base-color-brand-2: #e7d9ff; /* 品牌色-2*/
  --ti-base-color-brand-1: #f5f0ff; /* 品牌色-1*/
}
