<div #toggleMenu
     tiOutline
     class="ti3-cols-toggle-menu-container"
     tabindex="{{disabled ? -1 : 0}}"
     (click)="onClickDominator()"
     (keydown)="onKeydown($event)"
     [id]="appendId('cols-toggle-menu')"
     [ngClass]="{'ti3-cols-toggle-menu-disabled': disabled}">
    <div class="ti3-icon ti3-icon-config ti3-cols-toggle-menu" [tiTip]="tipContent" [tiTipPosition]="tipPosition"></div>
</div>
<ti-cols-toggle-drop [dominatorElem]="toggleMenuEleRef.nativeElement"
                     [panelWidth]="panelWidth"
                     [searchable]="searchable"
                     [options]="table.columns"
                     [selectAll]="selectAll"
                     [noDataText]="noDataText"
                     (select)="onSelect($event)"
                     [id]="appendId('colstoggle_drop')"></ti-cols-toggle-drop>

