.zoom-container {
  width: 400px;
  height: 400px;
  background-color: rgb(245, 245, 245);
  .zoom-img {
    box-sizing: border-box;
    border: 1px solid #dfe1e6;
    width: 100%;
    height: 100%;
  }
}
