<h4 class="my-3">1.部分选项禁用</h4>
<input
  id="disabled"
  type="checkbox"
  label="全选"
  tiCheckgroup
  [items]="data"
  [(checkeds)]="checked"
/>
<div class="my-4">
  <span class="mr-7" *ngFor="let item of data;index as i">
    <input
      [id]="'checkitem-disabled-' + i"
      type="checkbox"
      tiCheckitem
      [item]="item"
      [label]="item.text"
      [disabled]="item.disabled"
    />
  </span>
</div>
<h4 class="my-3">2.全选禁用</h4>
<input
  id="checkgroup-disabled"
  type="checkbox"
  label="全选"
  tiCheckgroup
  [items]="seasons"
  [(checkeds)]="checkedSeasons"
  [disabled]="true"
/>
<div class="my-4">
  <span class="mr-7" *ngFor="let item of seasons;index as i">
    <input
      [id]="'season-disabled-' + i"
      type="checkbox"
      tiCheckitem
      [item]="item"
      [label]="item.text"
      [disabled]="item.disabled"
    />
  </span>
</div>