<ti-modal-header class="ti3-msg-header">
    <div class="ti3-msg-icon ti3-icon"
         [ngClass]="{ 'ti3-icon-check-circle': type === 'confirm',
                    'ti3-icon-exclamation-circle ti3-msg-icon-error': type === 'error',
                    'ti3-icon-warn ti3-msg-icon-warn': type ===  'warn',
                    'ti3-icon-info-circle': type === 'prompt'}">
    </div>
    <span *ngIf='title' class="ti3-msg-content-title" [innerHtml]='title' [id]="setId('_title')"></span>
</ti-modal-header>
<ti-modal-body>
    <div class="ti3-msg-content-wrapper" [tiTransclude]='contentConfig' [id]="setId('_body')"></div>
</ti-modal-body>
<ti-modal-footer>
    <button type="button" tiButton
            [color]="okButton.primary ? 'danger' : ''"
            [autofocus]="okButton.autofocus"
            *ngIf="okButton.show"
            [disabled]="okButton.disabled"
            (click)="okButton.click()"
            [id]='setId("_ok_btn")'>{{okButton.text}}</button><!--
    需要屏蔽换行对按钮间距的影响--><button type="button" tiButton
            [color]="cancelButton.primary ? 'danger' : ''"
            *ngIf="cancelButton.show"
            [autofocus]="cancelButton.autofocus"
            [disabled]="cancelButton.disabled"
            (click)="cancelButton.click()"
            [id]='setId("_cancel_btn")'>{{cancelButton.text}}</button>
</ti-modal-footer>