<!--左侧菜单区-->
<ti-leftmenu
  [id]="leftmenuId"
  [(active)]="active"
  [(collapsed)]="collapsed"
  (collapsedChange)="toggleClick($event)"
  [(reloadState)]="reloadState"
  [toggleable]="toggleable"
>
  <ti-leftmenu-head [id]="headId">
    <div>{{headLabel}}</div>
  </ti-leftmenu-head>
  <ti-leftmenu-level1 [item]="m1" *ngFor="let m1 of items" [id]="m1.id">
    <ti-leftmenu-item>
      <div>{{m1.label}}</div>
    </ti-leftmenu-item>
    <ti-leftmenu-level2 [item]="m2" *ngFor="let m2 of m1.children" [id]="m2.id">
      <a>{{m2.label}}</a>
    </ti-leftmenu-level2>
  </ti-leftmenu-level1>
  <ti-leftmenu-foot [id]="footId">
    <div>{{footLabel}}</div>
  </ti-leftmenu-foot>
</ti-leftmenu>

<!--右侧内容区-->
<div *ngIf="reloadState" [ngStyle]="{marginLeft : marginLeft}" style="padding: 20px">
  <router-outlet></router-outlet>
</div>
