<ti-leftmenu [(reloadState)]="reloadState" [(active)]="active" (collapsedChange)="toggleClick($event)" style="width: 200px">
  <ti-leftmenu-level1 [item]="m1" *ngFor="let m1 of items">
    <ti-leftmenu-head>
      <header>菜单标题内容</header>
    </ti-leftmenu-head>
    <ti-leftmenu-item>
      <div>{{ m1.label }}</div>
    </ti-leftmenu-item>
    <ti-leftmenu-level2 [item]="m2" *ngFor="let m2 of m1.children">
      <a>{{ m2.label }}</a>
    </ti-leftmenu-level2>
  </ti-leftmenu-level1>
  <ti-leftmenu-foot>
    <div>菜单底部内容</div>
  </ti-leftmenu-foot>
</ti-leftmenu>
<div *ngIf="reloadState" class="p-4" [ngStyle]="{marginLeft : marginLeft}">
  <router-outlet></router-outlet>
</div>
