<ti-layout-header responsive>
    <div class="text-color">Header</div>
</ti-layout-header>

<ti-layout-content responsive>
    <ti-layout-content-body class="padding-bottom">
        <ti-layout-section>
            <div class="content-section">
                Content
            </div>
        </ti-layout-section>
        <ti-layout-section>
            <div class="content-section">
                Content
            </div>
        </ti-layout-section>
    </ti-layout-content-body>
</ti-layout-content>