<!-- adaptive 属性用以设置头部容器宽度 100% 自适应 -->
<ti-layout-header adaptive>
    <div class="text-color">Header</div>
</ti-layout-header>
<ti-layout-content adaptive>
    <ti-layout-content-body columns>
        <ti-layout-column class="column-left">
            <ti-layout-section>
                <div class="content-section">
                    Content
                </div>
            </ti-layout-section>
            <ti-layout-section>
                <div class="content-section">
                    Content
                </div>
            </ti-layout-section>
        </ti-layout-column>
        <ti-layout-column class="column-right">
            <ti-layout-section>
                <div class="content-section">
                    Content
                </div>
            </ti-layout-section>
        </ti-layout-column>
    </ti-layout-content-body>
</ti-layout-content>