<!-- 头部容器 -->
<!-- adaptive 属性用以设置头部容器宽度 100% 自适应 -->
<ti-layout-header style="background-color: #FFF;" adaptive>
    <ti-subtitle href="" target="_blank" [items]="items"></ti-subtitle>
</ti-layout-header>
<!-- 内容容器 -->
<!-- adaptive 属性用以设置内容容器宽度 100% 自适应 -->
<ti-layout-content adaptive>
    <!-- 内容主体部分 -->
    <ti-layout-content-body>
        <ti-layout-section>
            <ti-formfield [verticalAlign]="textForm1.fieldVerticalAlign" [colsNumber]="textForm1.colsNumber"
                [colsGap]="textForm1.colsGap" [labelWidth]="'100px'">
                <ti-item [label]="textForm1.firstItem.label">
                    <span>{{textForm1.firstItem.value}}</span>
                </ti-item>
                <ti-item>
                    <ti-item-label>
                        <div tiOverflow style="width:100px;">{{textForm1.secondItem.label}}</div>
                    </ti-item-label>
                    <span>{{textForm1.secondItem.value}}</span>
                </ti-item>
                <ti-item>
                    <ti-item-label>{{textForm1.thirdItem.label}}</ti-item-label>
                    <span>{{textForm1.thirdItem.value}}</span>
                </ti-item>
                <ti-item [label]="textForm1.fourthItem.label">
                    <span>{{textForm1.fourthItem.value}}</span>
                </ti-item>
                <ti-item>
                    <ti-item-label>{{textForm1.fifthItem.label}}</ti-item-label>
                    <span>{{textForm1.fifthItem.value}}</span>
                </ti-item>
                <ti-item>
                    <ti-item-label>{{textForm1.sixthItem.label}}</ti-item-label>
                    <span>{{textForm1.sixthItem.value}}</span>
                </ti-item>
            </ti-formfield>
        </ti-layout-section>
        <ti-layout-section>
            <div style="background-color: white;">
                <ti-tabs>
                    <ti-tab [header]="tab.title" *ngFor="let tab of tabs;let i=index" [active]="i==0">
                    </ti-tab>
                </ti-tabs>
            </div>
            <div style="background-color: #eee; height: 200px; text-align: center; line-height: 200px;">
                Detail Content
            </div>
        </ti-layout-section>
        <ti-layout-section>
            <div style="background-color: #eee; height: 200px; text-align: center; line-height: 200px;">
                Detail Content
            </div>
        </ti-layout-section>
    </ti-layout-content-body>
</ti-layout-content>