<div class="clear-transform">
  <ti-leftmenu [(active)]="active" [routable]="false" (collapsedChange)="toggleClick($event)" [(reloadState)]="reloadState" style="width: 200px">
    <ti-leftmenu-head>
      <header>菜单标题内容</header>
    </ti-leftmenu-head>
    <ti-leftmenu-level1 [item]="m1" *ngFor="let m1 of items">
      <ti-leftmenu-item>
        <span>{{ m1.label }}</span>
      </ti-leftmenu-item>
      <ti-leftmenu-level2 [item]="m2" *ngFor="let m2 of m1.children">
        <span>{{ m2.label }}</span>
      </ti-leftmenu-level2>
    </ti-leftmenu-level1>
    <ti-leftmenu-foot>
      <div>菜单底部内容</div>
    </ti-leftmenu-foot>
  </ti-leftmenu>
  <div *ngIf="reloadState" class="p-4" [ngStyle]="{marginLeft : marginLeft}">
    <div *ngIf="active === items[0].children[0]">子菜单 1.1 的内容</div>
    <div *ngIf="active === items[0].children[1]">子菜单 1.2 的内容</div>
    <div *ngIf="active === items[1]">菜单二的内容</div>
  </div>
</div>