ti-swipercard:nth-child(odd) div {
  background-color: #beccfa;
}
ti-swipercard:nth-child(even) div {
  background-color: #dfe1e6;
}
ti-swipercard div {
  height: 180px;
  line-height: 180px;
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
}
