<h4 class="my-3">1.默认值为‘below’，指示器在容器外部</h4>
<br />
<ti-swiper>
  <ti-swipercard *ngFor="let item of items">
    <div>
      <span>{{item}}</span>
    </div>
  </ti-swipercard>
</ti-swiper>
<h4 class="my-3">2.设置值为‘bottom’，指示器在容器底部</h4>
<br />
<ti-swiper indicatorPosition="bottom">
  <ti-swipercard *ngFor="let item of items">
    <div>
      <span>{{item}}</span>
    </div>
  </ti-swipercard>
</ti-swiper>
<h4 class="my-3">3.设置值为‘none’，不显示指示器</h4>
<br />
<ti-swiper indicatorPosition="none">
  <ti-swipercard *ngFor="let item of items">
    <div>
      <span>{{item}}</span>
    </div>
  </ti-swipercard>
</ti-swiper>
