.right-content {
  margin-left: 260px;
}

.right-content h1 {
  height: 60px;
  line-height: 60px;
  font-weight: 400;
}

.right-content > div > p {
  margin-left: 10px;
}

.anchor-box {
  position: fixed;
  left: 60px;
}
