<ti-formfield type="text" verticalAlign="middle" [title]="singleItem.title" [textLineHeight]="singleItem.textLineHeight">
  <ti-item *ngFor="let item of singleItem.ITEMOPTS">
    <ti-item-label>{{item.label}}</ti-item-label>
    <span>{{item.value}}</span>
  </ti-item>
</ti-formfield>
<br /><br />
<ti-formfield type="text" verticalAlign="middle" [title]="multiItem.title" [colsNumber]="multiItem.colsNumber" [colsGap]="multiItem.colsGap" [textLineHeight]="multiItem.textLineHeight">
  <ti-item *ngFor="let item of singleItem.ITEMOPTS">
    <ti-item-label>{{item.label}}</ti-item-label>
    <span>{{item.value}}</span>
  </ti-item>
</ti-formfield>
