.container {
  padding-left: 10px;
  padding-top: 10px;
  a {
    text-decoration: none;
    background-color: #8bc34a;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #00bcd4;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: #ff9800;
    }
  }
  .wrapper {
    margin-top: 10px;
  }
}
