<h3>描述</h3>
<p>本测试用例主要测试tab是否影响页面触发滚动条。</p>
<p>
  问题 1：在有tab的页面，且tab的祖先级级元素display:none, 页面有滚动条时，将页面滚动条
  拖至formfiled的头部不在视野范围内时，给formfield中添加数据后页面滚动条会异常跳动到顶部，正常滚动条应该不跳动。该问题在10.1.9版本修复
</p>
<p>
  问题 2：在有tab的页面，且使用了 ti-tab-header 标签, 页面有滚动条时，将页面滚动条
  拖至formfiled的头部不在视野范围内时，给formfield中添加数据后页面滚动条会异常跳动到顶部，正常滚动条应该不跳动。该问题在10.1.9版本修复
</p>
<h3>示例</h3>
<div style="margin-left: 400px">
  <ti-formfield>
    <ti-item [label]="'测试'" *ngFor="let item of items">
      <div>{{item}}</div>
    </ti-item>
  </ti-formfield>
  <button style="margin-bottom: 20px" type="button" (click)="addItems()">给formfield中添加数据</button>
</div>
<hr />
<!-- 问题场景 1： tab的父级元素 display:none -->
<div [hidden]="true">
  <ti-tabs>
    <ti-tab *ngFor="let tab of tabs" [header]="tab.title" [(active)]="tab.active"></ti-tab>
  </ti-tabs>
</div>

<div>
  <ti-tabs>
    <ti-tab active="true">
      <ti-tab-header>
        <!-- 问题场景 2： 使用了 ti-tab-header -->
        <span>title</span>
        <span style="color: red">(59)</span>
      </ti-tab-header>
      If the expression evaluates to a string, the string should be one or more space-delimited class names.<br />
      If the expression evaluates to an object.
    </ti-tab>
  </ti-tabs>
</div>
